body{
  margin: 0;
}

.header-image {
  background-image:url("images/header.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
}

.card-color {
  color: #ffffff;
  background-color: #343a40;
}

.cb-cardlink, .cb-navlink{
  color: #ffffff;
  text-decoration: none;
}
.cb-cardlink:hover, .cb-cardlink:active, .cb-navlink:hover, .cb-navlink:active {
  color: #ffffff;
  text-decoration: underline;
}

.table {
  font-size: 12px;
}

.carousel {
  max-width: 600px;
}
