.header-image {
  background-image:url("images/header.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
}

.card-color {
  color: #ffffff;
  background-color: #343a40;
}

.cb-cardlink {
  color: #ffffff;
  text-decoration: none;
}
.cb-cardlink:hover, .cb-cardlink:active {
  color: #ffffff;
  text-decoration: underline;
}
